body {
font-family: Arial, sans-serif;
background: #f4faff;
margin: 0;
padding: 0;
}
.container {
width: 40%;
margin: auto;
margin-top: 50px;
background: white;
padding: 30px;
border-radius: 12px;
box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
h1, h2 {
color: #0b57d0;
text-align: center;
}
button {
width: 100%;
padding: 12px;
background: #0b57d0;
border: none;
color: white;
font-size: 16px;
border-radius: 8px;
cursor: pointer;
}
button:hover {
background: #0846ad;
}
input, select {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 8px;
}